@import url("http://getbootstrap.com/dist/css/bootstrap.css");
html,
body,
.container-table {
  height: 100%;
}
.container-table {
  display: inline-block;

}
div {
    padding: 5px;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  bottom: 0;
  margin: 20px;
  padding: 20px;
}


#result {
    font-size: 25px;
    text-align: center;
}
